@media (min-width:769px) and (max-width:1279px) {
    header{
        display: block;
        height: 60vh;
        height: max-content;
        padding:20px;
        display: none;
    }
    .header_ul{
        display: block;
        width: 100%;
    }
    .header_ul li{
        padding: 10px 5px;
        border-bottom: 1px solid gainsboro;
        width: 100%;
    }
    .form_info{
        justify-content: unset;
        width: 90%;
        margin: auto;
    }
    input{
        height: 35px;
    }
    .services{
        flex-wrap: wrap;
    }
    .service{
        width: 40%;
        margin-bottom: 25px;
    }
    .about_texttext{
        width: 80%;
    }
    #virtual_tour{
        display: block;
        width: 100%;
        margin: 50px auto 10px auto;
        height: unset;
    }
    .tour{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
    .tour_text{
        position: unset;
        width: 100%;
        z-index: unset;
    }
    .tour_photo{
        width: 100%;
        height: 250px;
    }
    .bottom_photo{
        margin: unset;
    }
    #blog{
        margin: unset;
        margin-bottom: 50px;
    }
    .blog_text{
        padding: 35px 0;
    }
    .reviews{
        width: 90%;
    }
}
@media (max-width:768px) {
    header{
        background-color: unset;
        padding: 0;
    }
    .header_ul{
        flex-direction: column;
        margin-top: 20px;
        width: 100vw;
        height: 100vh;
        background-color: plum;
        position: fixed;
        top: 50px;
        justify-content: unset;
        display: none;
    }
    li{
        border-bottom: 1px solid #fafafa;
        padding: 20px 5px;
    }
    .icon{
        margin: 0 auto;
        width: 50px;
        height: 50px;
    }
    .top{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        height: 70px;
        padding: 10px;
        /* display: none; */
    }
    .tour h2, h3, h4{
        font-family: 'Square Peg';
        font-size: 30px;
    }
    .intro{
        margin-top: 70px;
        height: unset;
    }
    .intro_text{
        font-size: 25px;
    }
    form{
        margin: 30px auto;
        width: 100%;
    }
    button{
        margin-top: 20px;
        width: unset;
    }
    button a{
        font-size: 15px;
    }
    .form_info{
        display: block;
    }
    form div{
        margin: unset;
        margin-top: 10px;
    }
    .form_label{
        margin-bottom: 10px;
    }
    input{
        width: 100%;
        height: 35px;
    }
    .services{
        display: block;
        padding: 20px 0;
    }
    .service{
        width: 100%;
        box-shadow: unset;
    }
    .service:hover{
        animation: none;
    }
    #about{
        display: block;
        padding: 10px;
        height: fit-content;
        max-height: unset;
        background-image:linear-gradient(115deg,  rgba(56, 56, 112, 0.8), rgba(30, 30, 138, 0.6)), url(pictures/Poolside.jpg);
        margin: 0px;
    }
    #about h2{
        font-size: 30px;
    }
    .about_image{
        display: none;
    }
    .about_text{
        width: 100%;
        height: fit-content;
    }
    .about_texttext{
        width: 100%;
        color: white;
        height: fit-content;
    }
    .about_text button, .about_text p{
        margin: unset;
        margin: 10px 0;
    }
    #virtual_tour{
        display: block;
        width: 100%;
        margin: 5% auto 0 auto;
        height: unset;
    }
    .tour{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 5px;
    }
    .tour_text{
        position: unset;
        width: 100%;
        z-index: unset;
        padding: 20px 15px;
    }
    .tour_photo{
        width: 100%;
        height: 150px;
    }
    .bottom_photo{
        margin: unset;
    }
    #blog{
        margin: 0;
    }
    .blog_text{
        padding: 35px 0;
    }
    .reviews{
        display: block;
        width: 90%;
    }
    .review{
        width: 100%;
    }
    .review_right{
        border-bottom: 1px solid plum;
        border-right: none;
    }
    .review img{
        width: 50px;
        height: 50px;
    }
    #contact{
        background-color: rgb(158, 114, 158);
        color: white;
        margin-bottom: 0;
    }
    .banner{
        padding: 20px;
    }
    .banner h2{
        font-size: 25px;
    }
    .info{
        display: block;
    }
    .rooms, .social, .about, .quick_links, .contact{
        width: 100%;
        border-bottom: 1px solid gainsboro;
    }
    .rooms a, .quick_links a{
        font-size: 16px;
    }
    .info{
        border-bottom: unset;
    }
    .info li{
        margin-top: unset;
        border-bottom: unset;
    }
    .info_last{
        border-bottom: none;
    }
    .social_links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 0;
    }
    .info a{
        color: white;
    }
    .info p{
        margin: 5px 0 0 0;
    }
    footer{
        color: white;
        background-color: rgb(158, 114, 158);
    }
}